li.active {
  background-color: #0000057d;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.carousel-control-next-icon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Chevron_right_font_awesome.svg/768px-Chevron_right_font_awesome.svg.png');
  width: 40px;
  height: 40px;
}

.carousel-control-prev-icon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Chevron_right_font_awesome.svg/768px-Chevron_right_font_awesome.svg.png');
  width: 40px;
  height: 40px;
  transform: rotate(180deg);
}

.carousel-control-next:active .carousel-control-next-icon,
.carousel-control-prev:active .carousel-control-prev-icon {
  position: relative;
  top: 3px;
}