.app-header {
  p {
    font-family: $Charmonman;
    color: $white;
    margin: 0;
    font-size: $logo-size-small;

    span {
      color: $accent-color1;
      font-weight: bold;
    }
  }

  .user-section {
    color: $white;
    font-size: 1.4rem;
    display: flex;
    align-items: center;

    i {
      color: $accent-color1;
      font-weight: bold;
      font-size: 3rem;
      margin-left: 1rem;
    }
  }
}