.about-me-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 80px 0;

  @include lg {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  img {
    height: auto;
    margin-top: 50px;
    margin-right: 0;

    @include lg {
      height: 310px;
      margin-top: 0;
      margin-right: 50px;
    }
  }

  div {
    width: 100%;

    @include lg {
      width: 50%;
    }

    h5 {
      font-size: $header-size-large;
      text-align: center;
      margin-bottom: 30px;

      @include lg {
        font-size: $header-size-standard;
        text-align: left;
      }
    }

    p {
      font-size: $descr-size-large;
      margin: 0;

      @include lg {
        font-size: $descr-size-standard;
      }
    }
  }
}