.call-to-action-row {
  background-color: $header-color;
}

.call-to-action-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $white;
  padding: 60px 0;

  @include lg {
    flex-direction: row;
  }

  div {
    text-align: center;
    margin-bottom: 50px;

    @include lg {
      width: 75%;
      text-align: unset;
      margin-bottom: 0;
    }
  
    h2 {
      font-size: $header-size-large * 1.072;
      margin-bottom: 20px;

      @include lg {
        font-size: $header-size-standard * 1.087;
      }
    }
  
    p {
      font-size: $descr-size-large;
      margin: 0;

      @include lg {
        font-size: $descr-size-standard;
      }
    }
  }

  button {
    @include button-standard;
  }
}