.nav-menu-row {
  width: 100%;
  background-color: $header-color;
  position: fixed;
  top: 0;
  left: 15px;           // na pasek przewijania
  z-index: 3;
  box-shadow: $shadow-nav;
}

.nav-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  p {
    font-family: $Charmonman;
    color: $white;
    margin: 0;
    font-size: $logo-size-small;
  
    @include lg {
      font-size: $logo-size-standard;
    }
  
    span {
      color: $accent-color1;
      font-weight: bold;
    }
  }
}

.nav-menu {
  width: 60%;
  list-style: none;
  margin: 0;
  font-size: $menu-item-size-standard;
  text-transform: uppercase;
  color: $white;
  display: flex;
  justify-content: space-between;

  a:hover {
    color: $accent-color1;
    transition: 0.2s;
  }
}

.mobile-menu {
  width: 101%;
  position: absolute;
  z-index: 3;
  background-color: lighten($header-color, 5%);
  box-shadow: $shadow-nav;
  display: block;
  top: 4.93rem;
  left: 50%;
  transform: translateX(-50%);

  li {
    width: 100%;
    text-align: center;

    a {
      display: block;
      padding: 40px 0;

      &:hover {
        background-color: lighten($header-color, 15%);
      }
    }
  }
}

.hamburger {
  cursor: pointer;
  color: $white;
  background: unset;
  font-size: $logo-size-small;
  border: none;

  i {
    padding: 6px;
  }
}