.nav-menu-row {
  background-color: $header-color;
}

.nav-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  p {
    font-family: $Charmonman;
    color: $white;
    margin: 0;
    font-size: $logo-size-small;

    @include desktop {
      font-size: $logo-size-standard;
    }

    span {
      color: $accent-color1;
      font-weight: bold;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    font-size: $menu-item-size-standard;
    text-transform: uppercase;
    color: $white;
    display: flex;
    justify-content: space-between;

    a:hover {
      color: $accent-color1;
      transition: 0.2s;
    }
  }
}