.why-us-container {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  padding: 80px 0;

  @include lg {
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 0;
  }
}

.column {         // klasa niezagnieżdżona, aby była dostępna w sekcji Contact
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 0;

  @include lg {
    width: 310px;
  }

  &:nth-of-type(2) {
    margin: 70px 0;

    @include lg {
      margin: 0 45px;
    }
  }

  i {
    font-size: 7rem;
    color: $rows-and-functions-color;

    @include lg {
      font-size: 5rem;
    }
  }

  h3 {
    font-size: $header-size-large;
    color: $side-panel-color;
    margin: 25px 0 35px 0;

    @include lg {
      font-size: $header-size-standard * 0.913;
      margin: 25px 0 15px 0;
    }
  }

  p {
    font-size: $descr-size-large;
    color: $side-panel-color;

    @include lg {
      font-size: $descr-size-standard;
    }
  }
}