$accent-color1: #FF6600;

$bin-color: #BD4932;

$bg-color: #FFFFFA;

$header-color: #4a4a49;

$logo-part-color: #E58A20;

$msg-info-color: #3498DB;
$msg-warn-color: #FFB03B;
$msg-succ-color: #468966;

$rows-and-functions-color: #A1A194;

$side-panel-color: #5B605F;