// Kolejność alfabetyczna

$accent-color1: #FF6600;
$accent-lighten-color1: lighten($accent-color1, 15%);

$arrow-active-color: rgb(128, 128, 128);

$bin-color: #BD4932;

$bg-color: #FFFFFA;

$carousel-img-overlay: #EBEBEB;

$header-color: #4a4a49;
$header-darken-color: darken($header-color, 10%);

$msg-info-color: #3498DB;
$msg-succ-color: #468966;
$msg-warn-color: #FFB03B;

$rows-and-functions-color: #A1A194;

$shadow-nav: 0 8px 6px #00000070;

$side-panel-color: #5B605F;

$white: #fff;