@import url('https://fonts.googleapis.com/css2?family=Charmonman&family=Open+Sans&display=swap');

$Open-Sans: 'Open Sans', sans-serif;
$Charmonman: 'Charmonman', cursive;

$descr-size-standard: 1.4rem;
$descr-size-large: 1.6rem;

$font-size-standard: 14px;

$header-size-standard: 2.3rem;
$header-size-large: 2.8rem;

$logo-size-small: 2rem;
$logo-size-standard: 3rem;

$menu-item-size-standard: 1.2rem;