@import url('https://fonts.googleapis.com/css2?family=Charmonman&family=Open+Sans&display=swap');

$Open-Sans: 'Open Sans', sans-serif;
$Charmonman: 'Charmonman', cursive;

$font-size-standard: 14px;

$logo-size-small: 2rem;
$logo-size-standard: 3rem;

$menu-item-size-standard: 1.2rem;