@mixin button-standard {
  font-size: 1.5rem;
  font-weight: bold;
  color: inherit;
  background-color: $accent-color1;
  border: 4px solid $header-color;
  padding: 20px 50px;
  border-radius: 10px;

  @include lg {
    font-size: 1.2rem;
    padding: 10px 40px;
  }

  &:hover {
    color: $accent-color1;
    background-color: $white;
    border: 4px solid $header-color;
    transition: 0.5s;
  }

  &:active {
    border: 4px solid lighten($accent-color1, 15%);
    transition: 0.2s;
  }
}

@mixin button-newsletter {
  @include button-standard;
  border-radius: 0 15px 15px 0;
  border-left: unset;

  &:hover, &:active {
    border: 4px solid lighten($accent-color1, 15%);
    border-left: unset;
  }  
}

@mixin input-standard {
  padding: 12px 40px;
  border: 0;

  &:focus {
    border: 4px solid lighten($accent-color1, 15%);
  }
}

@mixin input-newsletter {
  @include input-standard;
  transform: translateY(-1px);
  border-radius: 15px 0 0 15px;

  &:focus {
    border-right: unset;
  }
}